[build]
  command = "npm run build"
  publish = "out"

[build.environment]
  # Disable secrets scanning for Firebase type definitions
  SECRETS_SCAN_SMART_DETECTION_ENABLED = "false"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
